@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    font-size: 16px;
    line-height: 1.58;
    background-color: #fafafa;
    color: #262626;
}

#loading {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    background-color: #fafafa;
}


/* .header {
    width: 100%;
    height: 3em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #8e8e8e;
}

#service_name {
    padding: 0.5ex;
    font-style: italic;
    font-weight: 500;
    font-size: x-large;
    font-family: "Playfair Display", serif;
    margin: 0px;
} */

.main {
    width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem 10px 2rem;
    justify-content: left;
    text-align: left;
    float: left;
}

.search {
    text-align: center;
    justify-content: center;
    align-content: center;
}

.search_container {
    padding: 1rem 2rem;
}

form {
    display: grid;
    grid-template-rows: 2em;
    grid-template-columns: 1fr auto;
    margin-bottom: 2em;
}

input {
    grid-column: 1;
    height: 100%;
}

button {
    grid-column: 2;
    height: 100%;
}


/* input {
    border: 1px solid #ccc;
    height: 2em;
    width: 28.23em;
    color: #666;
}

button {
    margin-left: -30px;
    height: -webkit-calc(2em + 2px);
    height: calc(2em + 2px);
    width: 25px;
    color: grey;
    border: none;
} */

.notfound {
    text-align: center;
    justify-content: center;
    float: none;
    font-weight: 400;
}

#notfoundheader {
    font-weight: 600;
    font-size: 2em;
    margin-bottom: -5px;
}

#posts_num {
    float: left;
    padding-right: 5vh;
    width: 15vh;
}

#following {
    width: 15vh;
}

#followers {
    padding-right: 10vh;
    width: 15vh;
}

#pfp {
    height: 6em;
    display: inline;
    vertical-align: middle;
    position: relative;
    border-radius: 50%;
    width: auto;
}

#post_pfp {
    height: 2em;
    display: inline;
    vertical-align: middle;
    position: relative;
    border-radius: 50%;
    width: auto;
    /* margin-left: -3em; */
    margin-right: 0.5em;
    -webkit-filter: drop-shadow(1px 0 0 #fafafa) drop-shadow(0 1px 0 #fafafa) drop-shadow(-1px 0 0 #fafafa) drop-shadow(0 -1px 0 #fafafa);
    filter: drop-shadow(1px 0 0 #fafafa) drop-shadow(0 1px 0 #fafafa) drop-shadow(-1px 0 0 #fafafa) drop-shadow(0 -1px 0 #fafafa);
}

#hover {
    position: absolute;
    top: 0;
    left: -4em;
}

#username {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
    padding-left: 0.2em;
    position: relative;
}

#verified {
    font-weight: unset;
    font-size: unset;
    font-size: xx-small;
    vertical-align: text-top;
    position: relative;
    line-height: 0;
}

#name {
    font-weight: 600;
    line-height: 0;
    margin-bottom: 1.4ex;
}

#id {
    font-size: xx-small;
    font-weight: 300;
}

#overview {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#category {
    color: #8e8e8e;
    margin: 0;
}

#bio {
    margin: 0;
}

#url {
    margin: 0;
    font-weight: 600;
}

#private {
    font-weight: 600;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 0;
}

.spacing {
    padding-bottom: 2vh;
    border-bottom: 1px solid #8e8e8e;
}

#error {
    font-size: 1.5em;
    font-weight: 300;
    font-style: normal;
}

.bi {
    width: 1em;
    height: 1em;
    font-weight: 300;
    font-size: 1.5em;
    color: inherit;
}

.type_post {
    position: absolute;
    margin: 0;
    margin-left: -4vh;
    padding: 0;
    color: #fff;
}

.type_collection {
    margin-top: 1vh;
}

.bi-collection-fill {
    font-size: 1em;
}

.bi-patch-check-fill {
    font-size: inherit;
    color: #3897f0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    pointer-events: none;
    text-align: center;
    justify-content: center;
}

li {
    /* height: 40vh; */
    flex-grow: 1;
    margin: 0;
    padding: 0.2rem;
    text-align: center;
    justify-content: center;
}

li:last-child {
    flex-grow: 1;
}

li.search {
    height: unset;
}

ul.search {
    pointer-events: auto;
}

img.post {
    position: relative;
    object-fit: cover;
    background-color: #efefef;
    border: none;
    color: #efefef;
    vertical-align: bottom;
    pointer-events: auto;
    object-fit: cover;
    width: 230px;
    height: 230px;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    user-drag: none;
    user-select: none;
}


/* Spinner from loading.io */

.lds-spinner {
    color: white;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #262626;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.date {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 12px;
    margin: 0;
    padding: 0;
    color: #8e8e8e;
    text-decoration-line: none;
    text-decoration: none;
}

.full_name_search {
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #8e8e8e;
    text-decoration-line: none;
    text-decoration: none;
}

.right {
    text-transform: uppercase;
    text-align: right;
    float: right;
    display: inline;
}

.likes {
    display: inline;
}

.post_comment {
    margin: 1em;
}

.date:visited {
    color: #8e8e8e;
    text-decoration-line: none;
    text-decoration: none;
}

.date:active {
    opacity: 0.5;
    text-decoration-line: none;
    text-decoration: none;
}

.date:hover {
    color: #8e8e8e;
    text-decoration-line: none;
    text-decoration: none;
}

details {
    border: 1px solid #8e8e8e;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    display: flex;
}

summary {
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #8e8e8e;
    margin-bottom: 0.5em;
}

.page-load-status {
    margin-top: auto;
}

.post_meta {
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post_meta:active {
    opacity: 0.5;
    text-decoration-line: none;
    text-decoration: none;
}

.post_meta:visited {
    color: #262626;
    text-decoration-line: none;
    text-decoration: none;
}

.post_meta:hover {
    color: #262626;
    text-decoration-line: none;
    text-decoration: none;
}

.username_caption {
    color: #262626;
    font-weight: 600;
}

hr {
    color: #8e8e8e;
    background-color: #8e8e8e;
    height: 1px;
    border: none;
    max-width: 640px;
}

b {
    font-weight: 600;
}

a,
a:visited {
    color: #00376b;
    text-decoration: none;
    text-decoration-line: none;
}

a:active {
    opacity: 0.5;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.splide__slide img.splide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
}

#image-carousel {
    width: 640px;
    text-align: center;
    margin: 0 auto -4rem;
    padding: 0;
}

.splide__pagination__page {
    display: none;
}

@media (max-width: 560px),
(max-height: 420px) {
    .main {
        max-width: 640px;
        width: unset;
    }
    #followers {
        padding-right: 0vh;
        width: unset;
    }
    #posts {
        float: left;
        padding-right: 0vh;
        width: unset;
    }
    #image-carousel {
        max-width: 640px;
        width: unset;
        margin: 0 0 -4rem;
    }
    li {
        height: 25vh;
        padding: 0;
    }
    img.post {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 305px) {
    #pfp {
        display: none;
    }
    li {
        /* height: 20vh; */
        text-align: unset;
        justify-content: unset;
    }
    img.post {
        text-align: unset;
        justify-content: unset;
    }
    ul {
        text-align: unset;
        justify-content: unset;
    }
}

@media screen and (min-width: 590px) {
    br {
        display: none;
    }
}

@media screen and (min-width: 1800px) {
    li {
        /* height: 20vh; */
    }
}

@media (max-height: 420px) {
    #followers {
        padding-right: 1vh;
    }
    #posts {
        padding-right: 1vh;
    }
    br {
        display: inline;
    }
}